<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>手动输入学术活动</title>
</head>
<body>
<form name="myform" onsubmit="return validateForm()" method="post" th:action="@{/new/input}">
    Meeting name:<br>
    <input type="text" name="meetingname">
    <br>
    Meeting date:<br>
    <input type="date" name="meetingdate">
    <br>
    Meeting content:<br>
    <input type="text" name="meetingcontent">
    <br>
    Meeting location:<br>
    <input type="text" name="meetinglocation">
    <br>
    <input type="submit" value="去选择具体会议地点">
    <br>

</form>

</body>
<script>
    function validateForm() {
        var name = document.forms["myform"]["meetingname"].value;
        if (name == "") {
            alert("必须填写会议名称");
            return false;
        }
        var date = document.forms["myform"]["meetingdate"].value;
        if (date =="" ) {
            alert("必须填写会议时间");
            return false;
        }
        var location=document.forms["myform"]["meetinglocation"].value;
        if (location =="") {
            alert("必须填写会议地点");
            return false;
        }
        var content=document.forms["myform"]["meetingcontent"].value;
        if(content==""){
            var r=confirm("会议内容是否不填？");
            if(r){
                document.forms["myform"]["meetingcontent"].value="暂无相关信息!";
            }
            else{
                return false;
            }

        }

            alert("submit success!");




    }
</script>>
</html>