<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手动输入学术活动</title>
</head>
<body>
<form name="myform" onsubmit="return validateForm()" method="post">
    Meeting name:<br>
    <input type="text" name="meetingname">
    <br>
    Meeting date:<br>
    <input type="datetime-local" name="meetingdate">
    <input type="submit" value="提交">
</form>
</body>
<script>
    function validateForm() {
        var x = document.forms["myform"]["meetingname"].value;
        if (x == "") {
            alert("必须填写会议名称");
            return false;
        }
    }
</script>>
</html>